/* first external method */

h1 {
    color: white; 
    background-color: red;
    font-size: 32px; 
    text-align: center; 
    font-weight: bold;
}


.Beispiel1,
.Beispiel3{
    background-color: #F08080;  /* Hex color with transparency */
    font-family: "Verdana", "DejaVu Sans", sans-serif;     /*font Verdana adn DejaVu Sans with a fallback sans-serif */

}
.Beispiel3 {
    font-size: 24px;
}

#Beispiel2 {
    color: hsl(236, 80%, 60%);     /* HSL color for font */
    font-size: 36px;
}

#Beispiel4 {
    background-color: rgb(130, 224, 170);     /* RGB color with transparency */
    font-size: 24px;
    font-weight: bold;
}

.knopf1 {
    color: #FFFFFF;
    background-color: #000000;
}

.knopf2{
    background-color: yellow;
}

.knopf1,
.knopf2 {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}