/* first external method */


h1 {
    color: white; 
    background-color: red;
    font-size: 32px; 
    text-align: center; 
    font-weight: bold;
}

.Liste {
            color: black; 
            background-color: rgb(125, 206, 160); 
            font-size: 18px;
}

.short {
    font-weight: bold;
}
